@font-face {
    font-family: 'allThingPink';
    src: url(../fonts/All_Things_Pink.ttf);
}

@font-face {
    font-family: 'allThingPinkSkinny';
    src: url(../fonts/All_Things_Pink_Skinny.ttf);
}

@font-face {
    font-family: 'prStartk';
    src: url(../fonts/prstartk.ttf);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 2em;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    max-width: 200%;
    margin-top: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 1em;
    min-height: 200vh;
}

.main-logo {
    left: 50%;
    top: 100;
    margin-left: 290px !important;
}

@media screen and (max-width: 991px) {
    .ocultar-div{
        visibility: hidden;
    }
}

.box {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.gallery{
    margin: 100px 50px;
}

.gallery img{
    width: 300px;
    padding: 5px;
    transition: 1s;
}

/* .gallery img:hover{ 
    filter: grayscale(0);
    transform: scale(1.1);
} */

img{
    max-width: 100%;
    height: auto;
}

figure{
    
    position: relative;
}

figcaption{
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 15px;
    font: 50px Verdana;
    color: white;
}

.gallery figure:hover figcaption{
    display: block;
}

/* .ir-arriba {
	display:none;
	padding:20px;
	background:#624A92;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
} */